nav.fnav {
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*background-color: lightsteelblue;*/
    /*background: linear-gradient(to top, lightsteelblue , whitesmoke);*/
    background: linear-gradient(to top,mediumpurple, rebeccapurple);
}

ul.fnav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 190px;
    overflow: hidden;
}

li.fnav-item {
    float: left;
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    /*transform: none;*/
}

li a.fnav-link {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transform: none;
    /*width: 550%;*/

    /*display: block;*/
    /*color: black;*/
    /*text-align: center;*/
    /*padding: 10px 13px;*/
    /*text-decoration: none;*/
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    /*transform: none;*/
}
p.fnav-text {
    display: block;
    color: black;
    /*text-align: center;*/
    padding: 10px 13px;
    text-decoration: none;
}