<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

    <link th:href="@{/css/overwatchimage1.css}" rel="stylesheet" />
    <link th:href="@{/css/hnavbar.css}" rel="stylesheet" />
    <link th:href="@{/css/fnavbar.css}" rel="stylesheet" />

    <meta charset="UTF-8"/>
    <title>HomePage</title>
</head>

<body>
<link th:href="@{/css/overwatchimage1.css}" rel="stylesheet" />
<link th:href="@{/css/homebackground.css}" rel="stylesheet" />
<h1> <link th:href="@{/css/h1welcome.css}" rel="stylesheet" />

    Welcome to Garrett's Website
</h1>
<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/gweb/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/gweb/viewart">View my Work</a></li>
    </ul>
<p><link th:href="@{/css/exampletext.css}" rel="stylesheet" />
    Example Text

</p>
<img th:src="@{/img/garrett1.jpg}">
<!--<img src="images/1200px-Overwatch_(videogioco).jpg" alt="overwatch" width="500" height="600">-->
<footer>
    <ol class="fnav">
        <li><p class="fnav"> Contact me: (111)-111-1111,</p></li>
        <li class="fnav-"><a class="fnav" href="/gweb">Example@gmail.com</a></li>
<!--        <li class="fnav-"><a class="fnav" href="/gweb/">Email Link</a></li>-->
    </ol>
</footer>
</body>
</html>
