<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>View Art</title>
</head>
<body>
<link th:href="@{/css/homebackground.css}" rel="stylesheet" />
<link th:href="@{/css/overwatchimage1.css}" rel="stylesheet" />
<h1> <link th:href="@{/css/h1welcome.css}" rel="stylesheet" />

    Here's some of my work</h1>
<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/gweb/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/gweb/viewart">View my Work</a></li>
</ul>
<img th:src="@{/img/gamegif.gif}">
<p><link th:href="@{/css/exampletext.css}" rel="stylesheet" />
    Example Text</p>
</body>
</html>